<style>
.content {
  max-width: 300px;
  margin: auto;
} </style>
<div style="content">

<h1>Editing Note</h1>
</div>
<%= render 'form', note: @note %>

<%= link_to 'Show', @note %> |
<%= link_to 'Back', notes_path %>
