
  <style>
  body {
  background-color: blue;margin: 20px; text-align: center;
  font-size: 100%;
  color: black;
}
  </style>
  <body>
<h1>Editing Note</h1>

<%= render 'form', note: @note %>

<%= link_to 'Show', @note %> |
<%= link_to 'Back', notes_path %>
</body>
