
<<<<<<< HEAD
  <style>
  grey {
  background-color: grey;margin: 20px; text-align: center;
  font-size: 100%;
  color: black;
}
  </style>
  <grey>
=======
<body class="body">
<div class="h1">
>>>>>>> b194927978cc49aeffa30fb33bd2411d58a50b26
<h1>New Note</h1>


<%= render 'form', note: @note  %>

<%= link_to 'Back', notes_path %>
<<<<<<< HEAD
</grey>
=======
</div>
</body>
>>>>>>> b194927978cc49aeffa30fb33bd2411d58a50b26
