<<<<<<< HEAD
<style>
grey {
background-color: grey;margin: 20px; text-align: center;
font-size: 300%;
color: black;
}
</style>
<grey>
=======
<grey style="grey">
>>>>>>> b194927978cc49aeffa30fb33bd2411d58a50b26
<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</grey>
