<!DOCKTYPE html>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
<title>arbor vitae</title><!-- tree of life -->
    

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
       <%=yield%>
