<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">


<div class="mainpage">
  <div class="maincontent">
    <div class="maintitle">
      <style>
      h1 {
      background-color: grey;margin: 20px;
      font-size: 300%;
      font-family: 'Dancing Script', cursive;
      color: black;
      }
      </style>
      <h1>  Like a forest </h1>
    </div>

        <iframe width="100%" height="90%" src="https://www.youtube.com/embed/DWcJFNfaw9c?autoplay=1" frameborder="10" color:black; allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <p>Copyright 42069 all rights reserved </p>

  </div>


</div>
