// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background: url(https://www.goodfreephotos.com/albums/canada/ontario/bronte-creek-state-park/canada-ontario-bronte-creek-state-park-walking-in-the-woods.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
