<<<<<<< HEAD
<style>
grey {
background-color: grey;margin: 20px; text-align: center;
font-size: 200%;
color: black;
}
</style>
<grey>
=======
<grey style="grey">
>>>>>>> b194927978cc49aeffa30fb33bd2411d58a50b26
<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
</grey>
