<<<<<<< HEAD
<style>
grey {
background-color: grey;margin: 20px; text-align: center;
font-size: 200%;
color: black;
}
</style>
<grey>
=======
<grey style="grey">
>>>>>>> b194927978cc49aeffa30fb33bd2411d58a50b26
<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
</grey>
