<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', turbo_links_reload: true %>
    <%= javascript_pack_tag 'application', turbo_links_reload: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
